.painting {
  background-position: center center;
  background-size: cover;
  display: block;
  position: relative;
  padding-bottom: 56%;
  margin-bottom: $spacer;

  &-title {
    position: absolute;
    bottom: $spacer/2;
    left: $spacer/2;
    color: $light;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px $dark;
  }
}